<link rel="stylesheet" type="text/css" href="../css/menu.css"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css" />
<h1 id="welcome">Welcome {{name}}!</h1>
<nav class="nav admin">
    <ul class="nav__menu">
        <li class="nav__menu-item"><a href="/menu-admin">Home</a></li>
        <li class="nav__menu-item"><a href="/coaches">Coaches</a></li>
        <li class="nav__menu-item">
            <a href="/coachees">Coachees</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item"> <a href="/add-coachee">Add Coachee</a></li>
            </ul>
        </li>
        <li class="nav__menu-item active">
            <a href="/sessions">Sessions</a>
            <ul class="nav__submenu">
                <li class="nav__submenu-item active"> <a href="/create-sessions">Create Sessions</a></li>
            </ul>
        </li>
        <li class="nav__menu-item"><a href="/logout">Sign Out</a></li>
    </ul>
</nav>

<link rel="stylesheet" type="text/css" href="../css/update.css"/>
<!-- https://codepen.io/freeCodeCamp/pen/VPaoNP -->
<div class="container">
    <form id="survey-form"  action="" method="GET">
        <h1 id="title" class="text-center">View Coaching Sessions</h1>
        <p id="description" class="description text-center">Fill out information below to find coaching sessions for a specific coach and/or coachee.</p>
        <hr style="border-color:white;">
        
        <div class="form-group">
            <label id="name-label" for="name">Coach Name</label>
            <div class="autocomplete" style="width:300px;">
                <input id="myInput" type="text" name="coach" class="form-control" placeholder="Enter coach's name" />
            </div>
        </div>
        <div class="form-group">
            <label id="name-label" for="name">Coachee Name</label>
            <div class="autocomplete" style="width:300px;">
                <input id="myInput2" type="text" name="coachee" class="form-control" placeholder="Enter coachee's name" />
            </div>
        </div>
        <div class="form-group" style="display: inline-block; padding-left:30%;">
            <button type="submit" id="submit" class="adjacent-button" style="float:left;">
            View Sessions
            </button>
            <button type="submit" id="clear" class="adjacent-button" style="float:right;">
            Clear Search
            </button>
        </div>
		
        <link rel="stylesheet" type="text/css" href="../css/table.css"/>
		<!-- https://bootsnipp.com/snippets/D2v11 -->
        <div class="card rounded shadow border-0">
            <div class="card-body p-3 bg-white rounded">
                <div class="float-right">
                    <div class="btn-group" style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-primary btn-filter" data-target="true">Active</button>
                        <button type="button" class="btn btn-secondary btn-filter" data-target="false">Completed</button>
                        <button type="button" class="btn btn-light btn-filter" data-target="all">All</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="example" style="width:100%" class="table table-filter table-striped table-bordered">
                        <thead>
                            <tr class="header">
                                <th>Coach</th>
                                <th>Coachee</th>
                                <th>Status</th>
                                <th># of Sessions</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each sessionsList}}
                            <tr data-status="{{status}}">
                                <td>{{coach}}</td>
                                <td>{{coachee}}</td>
                                {{#if status}}
                                <td><p style="color:blue;">active</p></td>
                                {{else}}
                                <td><p style="color:gray;">completed</p></td>
                                {{/if}}
                                <td>{{totalNum}}</td>
                                <td>
                                    <a href="/edit-sessions?sessionsID={{sessionsID}}" class="btn btn-success">
                                        <img src="https://simpleicon.com/wp-content/uploads/pencil-256x256.png" style="width: 20%;"></img> Edit
                                    </a>
                                    <a href="/sessions-log?sessionsID={{sessionsID}}" class="btn btn-warning">
                                        <img src="https://opengameart.org/sites/default/files/Magnifying%20Glass%20Tester.png" style="width: 20%;"></img> View
                                    </a>
                                    <a href="/delete-sessions?sessionsID={{sessionsID}}" class="btn btn-danger">
                                        <img src="https://www.shareicon.net/data/256x256/2016/01/03/697421_button_512x512.png" style="width: 15%;"></img> Delete
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    const coachList = {{{json coachList}}};
    const coacheeList = {{{json coacheeList}}};
</script>
<script src="../js/autocomplete-js.js"></script>
<script src="../js/filterTable-js.js"></script>
<script>
    $(document).ready(function() {
      $('#example').DataTable();
    });
</script>